DATABASE_URL="file:../data/app.db"
NEWS_FEEDS="https://gigazine.net/news/rss_2.0/,https://rss.itmedia.co.jp/rss/2.0/aiplus.xml,https://www.publickey1.jp/atom.xml,https://semiengineering.com/feed/,http://feeds.arstechnica.com/arstechnica/index,https://www.marktechpost.com/feed/"
OPENAI_API="YOUR_OPENAI_API_KEY"
OPENAI_PRICE_INPUT_PER_1M="0.4"
OPENAI_PRICE_CACHED_INPUT_PER_1M="0.1"
OPENAI_PRICE_OUTPUT_PER_1M="1.6"
OPENAI_USD_TO_JPY="150"
