node_modules
.next
.env
.env.local
.env.*.tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.db
*.db-journal
*.db-shm
*.db-wal
tsconfig.tsbuildinfo
data/*.db
data/*.db-journal
data/**
!data/.gitkeep
backups/**
!backups/.gitkeep
apps/*
!apps/.gitkeep
!apps/README.md
!apps/home-dashboard/
!apps/home-dashboard/.gitkeep
!apps/api-server/
!apps/api-server/.gitkeep
